<div class="purchaseform-container">
  <div class="right-pane pane">
    <div class="welcome-text">
      <p>
        Quite welcome to this awesome form<br />Please fill your information in
        the required fields.
      </p>
    </div>
    <div class="form-container">
      <form #emailsMatchForm="ngForm" appMatchingEmailsValidator >
        <div>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="EMAIL"
              [(ngModel)]="emailsMatchForm.email"
              name="email"
              #email = "ngModel"
              required
              [pattern]="EMAIL_REGEX"
            />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="EMAIL CONFIRMATION"
              [(ngModel)]="emailsMatchForm.emailConfirmation"
              name="emailConfirmation"
              #emailConfirmation = "ngModel"
              required
              [pattern]="EMAIL_REGEX"
            />
          </mat-form-field>
        </div>
      </form>

      <div>
        <div>
          <p>email: {{ email.errors | json }}</p>
          <p>emailConfirmation: {{ emailConfirmation.errors | json }}</p>
        </div>
        <p>------------------------</p>
        <p>FormErrors: {{ emailsMatchForm.errors | json }}</p>
        <p>FormStatus: {{ emailsMatchForm.status }}</p>
      </div>
    </div>
  </div>
</div>
