<div class="form-container">
  <div class="welcome-text">
    <h2>
      <strong>Async</strong> custom validator example <br />
      <span class="small">(Reactive forms)</span>
    </h2>
  </div>
  <div class="pane">
    <div class="form-wrapper">
      <div class="form-asistant">
        <div class="image-wrapper">
          <img src="assets/img/nice.jpeg" alt="" />
        </div>
        <div class="text-bubble">
          <img src="assets/img/text-globe.png" alt="" />
          <div class="message">
            <span>Please fill in the form</span>
          </div>
        </div>
      </div>
      <div class="form-container">
        <div>
          <mat-form-field class="full-width">
            <input
              name="github-username"
              matInput
              placeholder="username"
              [formControl]="username"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="status-peek">
      <div>
        <pre>ControlErrors: {{ username.errors | json }}</pre>
      </div>
      <div class="overall-status">
        <pre>ControlStatus: {{ username.status }}</pre>
      </div>
    </div>
  </div>
</div>
<!-- </div>


      <div class="form-container">
        <div>
          <mat-form-field class="full-width">
            <input
              name="answer"
              matInput
              placeholder="Yes or No"
              [formControl]="yesNoInput"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="status-peek">
      <div>
        <pre>ControlErrors: {{ yesNoInput.errors | json }}</pre>
      </div>
      <div class="overall-status">
        <pre>ControlStatus: {{ yesNoInput.status }}</pre>
      </div>
    </div>


<div class="purchaseform-container">
  <div class="right-pane pane">
    <div class="welcome-text">
      <h2><strong>Async</strong> custom validator example</h2>

      <p>Pick your github username</p>
    </div>
    <div class="form-container">
      <div>
        <mat-form-field class="full-width">
          <input
            name="github-username"
            matInput
            placeholder="username"
            [formControl]="username"
          /> -->
<!-- <mat-error
            *ngIf="
              attendantInformationForm.get('fullName').hasError('required')
            "
          >
            Name is <strong>required</strong>
          </mat-error> -->
<!-- </mat-form-field>
      </div>

      <div>
        <p>------------------------</p>
        <p>ControlValue: {{username.value}}</p>
        <p>ControlErrors: {{username.errors | json}}</p>
        <p>ControlStatus: {{username.status}}</p>
      </div>
    </div>
  </div>
</div>
 -->
