<div class="form-container">
  <div class="welcome-text">
    <h2>
      <strong>Async</strong> custom validator example <br />
      <span class="small">(Reactive forms)</span>
    </h2>
  </div>
  <div class="pane">
    <div class="form-wrapper">
      <div class="form-asistant"
      [ngClass]="{
        'warning': warningStateWrongLength || showRequiredError,
        'valid': validState,
        'usernameTaken': usernameTakenState,
        'processing': processingState
      }">
        <div class="image-wrapper">
          <mat-icon *ngIf="username.pristine">face</mat-icon>
          <mat-icon class="zoom-in-out" *ngIf="showRequiredError || warningStateWrongLength">error</mat-icon>
          <mat-icon class="rotate" *ngIf="processingState">settings</mat-icon>
          <mat-icon class="zoom-in-out" *ngIf="usernameTakenState">sentiment_very_dissatisfied</mat-icon>
          <mat-icon class="zoom-in-out" *ngIf="validState">sentiment_very_satisfied</mat-icon>
        </div>
        <div class="text-box">
          <div class="message">
            <span *ngIf="username.pristine">Type in your desired github username</span>
            <span *ngIf="showRequiredError">Input is required</span>
            <span *ngIf="warningStateWrongLength">Text must have at least 6 characters</span>
            <span *ngIf="processingState">Verifying if username is available</span>
            <span *ngIf="validState">Yayy!! Username is availabe</span>
            <span *ngIf="usernameTakenState">Sorry!! User name is not availabe</span>
          </div>
        </div>
      </div>
      <div class="form-container">
        <div>
          <mat-form-field class="full-width">
            <input
              name="github-username"
              matInput
              placeholder="username"
              [formControl]="username"
              (keyup)="checkRequiredError()"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="status-peek">
      <div>
        <pre>ControlErrors: {{ username.errors | json }}</pre>
      </div>
      <div class="overall-status">
        <pre>ControlStatus: {{ username.status }}</pre>
      </div>
    </div>
  </div>
</div>

<!-- </div>


      <div class="form-container">
        <div>
          <mat-form-field class="full-width">
            <input
              name="answer"
              matInput
              placeholder="Yes or No"
              [formControl]="yesNoInput"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="status-peek">
      <div>
        <pre>ControlErrors: {{ yesNoInput.errors | json }}</pre>
      </div>
      <div class="overall-status">
        <pre>ControlStatus: {{ yesNoInput.status }}</pre>
      </div>
    </div>


<div class="purchaseform-container">
  <div class="right-pane pane">
    <div class="welcome-text">
      <h2><strong>Async</strong> custom validator example</h2>

      <p>Pick your github username</p>
    </div>
    <div class="form-container">
      <div>
        <mat-form-field class="full-width">
          <input
            name="github-username"
            matInput
            placeholder="username"
            [formControl]="username"
          /> -->
<!-- <mat-error
            *ngIf="
              attendantInformationForm.get('fullName').hasError('required')
            "
          >
            Name is <strong>required</strong>
          </mat-error> -->
<!-- </mat-form-field>
      </div>

      <div>
        <p>------------------------</p>
        <p>ControlValue: {{username.value}}</p>
        <p>ControlErrors: {{username.errors | json}}</p>
        <p>ControlStatus: {{username.status}}</p>
      </div>
    </div>
  </div>
</div>
 -->
