<div class="form-container">
  <div class="welcome-text">
    <h2>
      <strong>Sync</strong> custom validator example <br />
      <span class="small">(Template driven forms)</span>
    </h2>
  </div>
  <div class="pane">
    <div class="form-wrapper">
      <div class="form-asistant">
        <div class="image-wrapper">
          <img *ngIf="nice" src="assets/img/nice.jpeg" alt="" />
          <img *ngIf="amazed" src="assets/img/amazed.jpeg" alt="" />
          <img *ngIf="sarcastic" src="assets/img/sarcastic.jpeg" alt="" />
          <img *ngIf="angry" src="assets/img/angry.jpeg" alt="" />
          <img *ngIf="frowning" src="assets/img/frowning.jpeg" alt="" />
          <img *ngIf="happy" src="assets/img/happy.jpeg" alt="" />
        </div>
        <div class="text-bubble">
          <img src="assets/img/text-globe.png" alt="" />
          <div class="message">
            <span *ngIf="nice">Please fill in the form</span>
            <span *ngIf="amazed">Doing well</span>
            <span *ngIf="sarcastic">C'mon is not that hard</span>
            <span *ngIf="angry">Yes or No!!</span>
            <span *ngIf="frowning">R U kidding me?</span>
            <span *ngIf="happy">Yaaay!!</span>
          </div>
        </div>
      </div>
      <div class="form-container">
        <form [formGroup]="emailsMatchForm" (ngSubmit)="onSubmit()">
          <div>
            <mat-form-field class="full-width">
              <input
                name="email"
                matInput
                placeholder="EMAIL"
                formControlName="email"
              />
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="full-width">
              <input
                name="emailConfirmation"
                matInput
                placeholder="EMAIL CONFIRMATION"
                formControlName="emailConfirmation"
              />
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
    <div class="status-peek">
      <div>
        <pre>email: {{ emailsMatchForm.get("email").errors | json }}</pre>
        <pre>emailConfirmation: {{emailsMatchForm.get("emailConfirmation").errors | json}}</pre
        >
      </div>
      <div class="overall-status">
        <pre>Form Errors: {{ emailsMatchForm.errors | json }}</pre>
        <pre>Form Status: {{ emailsMatchForm.status }}</pre>
      </div>
    </div>
  </div>
</div>
