

$pf-left-pane-bg: #FEE5E9;
$pf-text-color: #581845;
$pf-input-color: #7d8994;
$pf-right-pane-bg: #581845;
$info-bg-color: #EDCBD0;

$warning-bg-color: #FD576E;
$warning-fg-color: #ffffff;

$usernameTaken-bg-color: #940014;
$usernameTaken-fg-color: #ffffff;

$processing-bg-color: #51207A;
$processing-fg-color: #ffffff;

$valid-bg-color: #601048;
$valid-fg-color: #ffffff;

$icon-size: 84px;
$icon-circle-size: 140px;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.form-container {
  margin: 0 auto;

  .welcome-text {
    line-height: 1.6em;
    font-size: 30px;
    letter-spacing: 0.06em;
    word-spacing: 0.09em;
    color: $pf-text-color;
    text-align: center;

    h2 {
      font-weight: normal;
      .small {
        font-size: 0.8em;
      }
    }
    strong {
      color: $pf-text-color;
      font-size: 1.1em;
    }
  }

  .pane {
    display: flex;
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
    padding-top: 3%;
    color: $pf-text-color;
    width: 100%;
    justify-content: center;
    height: 100%;

    > div {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      margin:10px 20px;
    }

    .form-wrapper {
      padding: 30px 60px;
      flex: 1;
      background-color: $pf-left-pane-bg;
      max-width:600px;
    }

    .form-asistant {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      margin: 20px 0;

      .image-wrapper,
        .text-box {
          transition: background-color 250ms ease-out, color 250ms ease-out;
        }

      .image-wrapper {
        flex: 0 0 $icon-circle-size;
        height: $icon-circle-size;
        border-radius: $icon-circle-size;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $info-bg-color;
        mat-icon {
          font-size: $icon-size;
          width: $icon-size;
          height: $icon-size;
          line-height: $icon-size;
        }
      }

      .text-box {
        flex: 1;
        padding: 20px;
        border-radius: 8px;
        align-items: center;
        font-size: 1.8em;
        background-color: $info-bg-color;
        margin: 10px 10px 10px 20px;
      }

      &.warning {
        .image-wrapper,
        .text-box {
          background-color: $warning-bg-color;
          color: $warning-fg-color;
        }
      }

      &.processing {
        .image-wrapper,
        .text-box {
          background-color: $processing-bg-color;
          color: $processing-fg-color;
        }
      }

      &.valid {
        .image-wrapper,
        .text-box {
          background-color: $valid-bg-color;
          color: $valid-fg-color;
        }
      }

      &.usernameTaken {
        .image-wrapper,
        .text-box {
          background-color: $usernameTaken-bg-color;
          color: $usernameTaken-fg-color;
        }
      }

    }



    .form-container {
      margin-top: 30px;
      font-size: 30px;
      color: $pf-text-color;

      .mat-form-field {
        margin: 12px auto;

        .mat-form-field-wrapper {
          border: 2px solid $pf-text-color;
          padding: 5px 20px 8px;
          border-radius: 15px;
        }

        .mat-form-field-placeholder {
          color: $pf-input-color;
          letter-spacing: 0.07em;
          word-spacing: 0.2em;
          font-size: 17px;
        }

        .mat-form-field-appearance-legacy .mat-form-field-label {
          color: $pf-text-color;
        }

        .mat-form-field-underline,
        .mat-form-field-ripple {
          display: none;
        }
      }
    }

    .status-peek {
      font-size: 35px;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      background-color: $pf-right-pane-bg;
      color: #FFF;
      padding: 30px;
      flex-direction: column;
      line-height: 1.7em;
      max-width: 800px;

      .overall-status {
        font-size: 1.2em;
      }
    }

    .full-width {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}


.rotate {
  animation: spin 4s linear infinite;
}

.zoom-in-out {
  animation: zoominout 1s linear ;
}

@keyframes spin {
  100% {
  -webkit-transform: rotate(360deg);
   transform:rotate(360deg);
  }
}

@keyframes zoominout {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.1,1.1);
  }
  100% {
      transform: scale(1,1);
  }
}
