

$body-bg-color: #2C2B30;
$pf-rightpane-bg: #FFC30F;
$pf-text-color: #581845;
$image-border-color: #FF5733;
$pf-input-color: #7d8994;

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.form-container {
  margin: 0 auto;

  .welcome-text {
    line-height: 1.6em;
    font-size: 30px;
    letter-spacing: 0.06em;
    word-spacing: 0.09em;
    color: $pf-text-color;
    text-align: center;

    h2 {
      font-weight: normal;
      .small {
        font-size: 0.8em;
      }
    }
    strong {
      color: $pf-text-color;
      font-size: 1.1em;
    }
  }

  .pane {

    display: flex;
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
    padding-top: 3%;
    color: $pf-text-color;
    width: 100%;
    justify-content: center;
    height: 100%;

    > div {
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      margin:10px 20px;
    }

    .form-wrapper {
      padding: 30px 60px;
      flex: 1;
      background-color: $pf-rightpane-bg;
      max-width:600px;
    }

    .form-asistant {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      margin: 20px 0;

      .image-wrapper {
        flex: 0 0 50%;
        img {
          border-radius: 100%;
          border: 4px solid $image-border-color;
          max-width: 100%;
        }
      }

      .text-bubble {
        position: relative;
        width: 100%;
        flex: 1;

        img {
          position: absolute;
          left: -13px;
          top: 0;
          width: 105%;
        }

        .message {
          position: absolute;
          top: 2%;
          left: 3.5%;
          right: 0;
          bottom: 0;
          height: 64%;
          width: 94%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 29px;
          padding: 15px 19px;
          text-align: center;
        }
      }


    }



    .form-container {
      margin-top: 30px;
      font-size: 30px;
      color: $pf-text-color;

      .mat-form-field {
        margin: 12px auto;

        .mat-form-field-wrapper {
          border: 3px solid $pf-text-color;
          padding: 5px 20px 8px;
          border-radius: 15px;
        }

        .mat-form-field-placeholder {
          color: $pf-input-color;
          letter-spacing: 0.07em;
          word-spacing: 0.2em;
          font-size: 17px;
        }

        .mat-form-field-appearance-legacy .mat-form-field-label {
          color: $pf-text-color;
        }

        .mat-form-field-underline,
        .mat-form-field-ripple {
          display: none;
        }
      }
    }

    .status-peek {
      font-size: 35px;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      background-color: $pf-text-color;
      color: #FFF;
      padding: 30px;
      flex-direction: column;
      line-height: 1.7em;
      max-width: 800px;

      .overall-status {
        font-size: 1.2em;
      }
    }

    .full-width {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}
